.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;

    row-gap: 3em;
}

.authBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 10em;
    height: 3em;

    color: black;

    border: 2px solid black;

    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */

    cursor: pointer;
}