.container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    column-gap: 20vw;

    height: 10vh;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.spacer {
    width: 70vw;
    height: .5vh;

    background-color: #f2f2f2;
}