.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2em;

    width: 100vw;
    max-width: 100vw;
    max-height: 89.5vh;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.postsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    inline-size: 50%;
}

.profileContainer button {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    background: white;
    cursor: pointer;
    padding: 0.5rem;
}